body {
    margin: 0;
    font-family: 'Lato';
    /* voiolà comment j'ajoute une police d'écriture*/
}

main {
    gap: 100px;
    display: flex;
    flex-direction: column;
}

/* pour les écrans desktop*/
@media screen and (min-width: 720px) {

    .container {
        padding-left: calc(15px*2);
        /*calcul de la taille voulu*/
        padding-right: calc(15px*2);
    }

    /** barre de navigation**/
    header {
        background-color: #000000;
        color: #fff;
        height: 88px;
    }

    .navigation {
        margin-right: 30px;
        margin-left: 30px;
        padding-top: 20px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation div {
        display: flex;
        justify-content: space-between;
        padding-right: 60px;
        padding-left: 50px;
    }

    .navigation div a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
    }

    #HelpLink {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 2px solid #fff;
        height: 35px;
        display: flex;
    }

    #HelpLink:hover {
        text-decoration: underline;

    }


    .navigation div {
        display: flex;
        justify-content: space-between;
        padding-right: 60px;
        padding-left: 50px;
    }

    .submitButton {
        background-color: #000000;
        font-size: 24px;
        color: white;
        border: solid 1px;
        border-radius: 5px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .submitButton:hover {
        cursor: pointer;
    }

    .signButton {
        background-color: #4C5FD5;
        font-size: 24px;
        color: white;
        border: solid 0px;
        border-radius: 5px;
        padding-right: 35px;
        padding-left: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 1rem;
    }

    .signButton:hover {
        background-color: #fff;
        color: #000000;
        cursor: pointer;
    }

    /*pour la zone de l'input*/
    .middleTop {
        display: flex;
        justify-content: center;
        background-color: #dadbf1;
        height: 400px;
    }

    .searchBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 80px;
        gap: 30px;
    }


    .searchForm {
        display: flex;
        align-items: center;
        border: 1px solid #000000;
        border-radius: 5px;
        background-color: #fff;

    }

    .searchForm:hover {
        border: 1px solid #4C5FD5;
        color: #4C5FD5;
    }

    input {
        padding: 10px;
        font-size: 16px;
        border: none;
        outline: none;
        width: 690px;
        border-radius: 5px 0 0 5px;
        height: 50px;
    }

    input::placeholder {
        color: #b7b8be;
        font-size: 100%;
    }


    .arrowButton {
        padding: 10px;
        background-color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrowButton:hover {
        color: #4C5FD5;
    }

    /*la zone du milieu*/
    .middle-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .block-liste-item {
        display: flex;
        width: 100%;
        margin-left: 20%;
    }

    .block-liste-item div {
        display: flex;
        flex-wrap: wrap;
    }


    .categorie-liste-item {
        min-height: 115px;
        width: 50%;
        margin-bottom: 48px;
        padding-right: 15px;
        max-width: 350px;
    }
}